@import "./fonts.css";

@tailwind components;
@tailwind base;
@tailwind utilities;

html,
body,
#root {
  @apply h-full;
}

@layer base {
  h1 {
    @apply font-heading text-3xl;
  }
  h2 {
    @apply font-heading text-2xl;
  }
  h3 {
    @apply font-heading text-xl;
  }
}

@layer base {
  :root {
    --font-sans: "Inter", sans-serif;
    --font-heading: "Brockmann";

    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 47.4% 11.2%);

    --muted: hsl(210 40% 96.1%);
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 47.4% 11.2%);

    --border: hsl(214.3 31.8% 91.4%);
    --input: hsl(214.3 31.8% 91.4%);

    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 47.4% 11.2%);

    --primary: hsl(222.2 47.4% 11.2%);
    --primary-foreground: hsl(210 40% 98%);

    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);

    --accent: hsl(210 40% 96.1%);
    --accent-foreground: hsl(222.2 47.4% 11.2%);

    --destructive: hsl(0, 68%, 51%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(215 20.2% 65.1%);

    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(224 71% 4%);
    --foreground: hsl(213 31% 91%);

    --muted: hsl(223 47% 11%);
    --muted-foreground: hsl(215.4 16.3% 56.9%);

    --accent: hsl(hsl(0, 0%, 21%));
    --accent-foreground: hsl(210 40% 98%);

    --popover: hsl(224 71% 4%);
    --popover-foreground: hsl(215 20.2% 65.1%);

    --border: hsl(0, 0%, 21%);
    --input: hsl(0, 0%, 28%);

    --card: hsl(224 71% 4%);
    --card-foreground: hsl(213 31% 91%);

    --primary: #37aa82;
    --primary-foreground: hsl(0, 0%, 100%);

    --secondary: #444444;
    --secondary-foreground: hsl(210 40% 98%);

    --destructive: hsl(0, 65%, 57%);
    --destructive-foreground: hsl(210 40% 98%);

    --ring: hsl(0, 0%, 21%);

    --radius: 0.5rem;
  }
}
