@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@tailwind utilities;

html, body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: theme('colors.slate.200');
}