@import "./fonts.css";

@tailwind components;
@tailwind base;
@tailwind utilities;

html,
body,
#root {
  @apply h-full;
}

@layer base {
  h1 {
    @apply font-heading text-3xl;
  }
  h2 {
    @apply font-heading text-2xl;
  }
  h3 {
    @apply font-heading text-xl;
  }
}

@layer base {
  :root {
    --font-sans: "Inter", sans-serif;
    --font-heading: "Brockmann";

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 68% 51%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 30 4% 9%;
    --foreground: 0 1% 85%;

    --muted: 240 4% 24%;
    --muted-foreground: 0 0% 60%;

    --accent: 0 0% 21%;
    --accent-foreground: 0 1% 85%;

    --popover: 30 3% 11%;
    --popover-foreground: 0 1% 85%;
    --border: 30 4% 18%;
    --input: 0 0% 28%;

    --card: 30 3% 11%;
    --card-foreground: 360 100% 100%;
    --primary: 159.13 51% 44%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 45%;
    --secondary-foreground: 210 4% 9%;
    --destructive: 0 65% 57%;
    --destructive-foreground: 210 40% 98%;

    --ring: 0, 0% 21%;

    --radius: 0.5rem;
  }
}
