.MuiGrid-root,
.MuiFormControl-root,
.css-g1nj7g-MuiGrid-root,
.css-t0knny-MuiPaper-root-MuiCard-root,
.css-wb57ya-MuiFormControl-root-MuiTextField-root,
.css-z6glxt-MuiPaper-root-MuiCard-root,
.css-u4tvz2-MuiFormLabel-root,
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input,
.css-1d3z3hw-MuiOutlinedInput-notchedOutline,
.css-10wpov9-MuiTypography-root {
  font-family: "Inter", sans-serif !important;
  color: rgba(255, 255, 255, 0.85) !important;
  font-size: 14px !important;
}

.css-fy4l7m,
.css-z6glxt-MuiPaper-root-MuiCard-root {
  border-color: rgb(48 48 48) !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: rgb(48 48 48) !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: rgb(48 48 48) !important;
  color: rgba(255, 255, 255, 0.85) !important;
}

.MuiGrid-root svg {
  color: rgba(255, 255, 255, 0.85) !important;
}

.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  color: rgba(255, 255, 255, 0.85) !important;
}

.MuiGrid-root .css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #11a071;
}

.MuiGrid-root .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #2fb584;
}

.MuiGrid-root button:hover {
  background-color: #11a0704a;
}