name: Release

on:
  release:
    types: [published]

jobs:
  ci:
    name: Release
    runs-on: ubuntu-20.04
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Cache node modules
        id: cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
          key: cache-node-modules-${{ hashFiles('**/package-lock.json') }}

      - uses: actions/setup-node@v3
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          node-version: 18.x
          registry-url: 'https://registry.npmjs.org'

      - name: Install Dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: npm ci

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build
        run: npx nx run-many --target=build --all --parallel --maxParallel=3

      - name: Dockerize
        run: npx nx run-many --target=docker:build --configuration=ci --all --parallel --maxParallel=3
        env:
          INPUT_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          INPUT_TAGS: "type=semver,pattern={{version}}\ntype=raw,value=latest"

      - name: NPM Publish (@pezzo/client)
        run: npm publish
        working-directory: dist/libs/client
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
